<h1>TELL THE COMPUTER WHERE YOU ARE BELOW, FFS!</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :place, 'I am' %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.submit 'FIND ME SOME SUN! NOW!' %>
  </p>
<% end %>

<%= link_to "Go Back to the previous page, because you didn't think you'd have to fucking type!", locations_path %>

<p> 
If you <a href="http://ianmoss.com/contact/">persuade me with BEER</a> and tempt me with alsorts, then I might just fucking make it so you don't have to type! THE INTERNETS KNOWS WHERES YOU LIVES....SO MAYBE I CAN MAKE IT DO THE TYPING FOR YOU! YEAH!
</p>

<p>
This site is 100% inspired by: <a href="http://thefuckingweather.com">THIS FUCKING SITE</a>, my apathy towards my great cities weather, and frankly taking ages to finish apps - I guarantee this site isn't finished when you use it! What do you think I fucking am ? Oh yesss!! Your slave?? Yes master. Yes master. Please tell me how high to jump.
<br/>
I'm not really this angsty or teenage in my real life honest!!
</p>